* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto';
  overflow-x: hidden;
}

a{
  text-decoration: none!important;
}
.row{
  max-width: 100vw;

}

/* Top navigation bar  */
.nav {
  height: 75px;
  width: 100%;
  /* background-color:transparent; */
  position: fixed;
  background: linear-gradient(45deg, #1C548D, rgb(58,118,191), rgb(66,132,204), rgb(99,158,224), rgb(148,191,239));
  box-shadow: 8px 8px 6px 8px rgba(0, 0, 0, 0.1);
  z-index:5;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  padding: 20px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 25px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(253, 218 , 0,1);
  color: #1C548D;
  transition: all 0.2s ease-in;
  
}

.nav > #nav-check {
  display: none;
}

@media (max-width:700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 75px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    z-index: 3;
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(66,132,204);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 75px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > .nav-links > a:hover {
    background-color: rgba(255,180,4,.95);
    color: #1C548D;
    margin-left:10px;
    width: calc(100vw - 10px);
    transition: all 0.2s ease-in;
    font-weight: 500;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 75px);
    overflow-y: auto;
  }
}

/* The landing section */

.landing {
  z-index:1;
  height:100%;
}

.landing-wrapper{
  width:100%;
  height:100%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./trianglify-lowres.png");
  background-size: cover;
  padding-top:75px;
}

.left-section, .right-section{
  height: calc(100vh - 75px);
}

.main-text{
  font-size: 4.5rem;
  font-family: 'Roboto';
  font-weight: 600;
  color:white;
  margin: auto;
  width: 80%;
  height: 50%;
  position: relative;
}

.head1{
  position:absolute;                  /* added */
   bottom:20px;                           /* added */
}

.sub-text{
  font-size: 1.8rem;
  font-family: 'Roboto';
  font-weight: 600;
  color:white;
  margin: 20px auto;
  width: 80%;
  height: 50%;
  position: relative;
}

.sub-head1{
  position:absolute; 
   top:0;           
}

.laptop-image{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.laptop-image > img{
  width: auto;
  height:auto;
  max-width: 100%;
  margin: auto;
}

.mu-subscribe-form {
	position: relative;
}

.mu-subscribe-form input {
	width: 100%;
	height: 60px;
	border-radius: 25px;
	border: none;
	padding: 0 170px 0 20px;
	font-size: 14px;
	color: #000;
}

.mu-subscribe-btn {
	background-color: #FB7420;
	color: #fff;
	font-size: 18px;
	position: absolute;
	right: 6px;
	top: 6px;
	height: 48px;
	width: 160px;
	cursor: pointer;
	border-radius: 24px;
	text-transform: uppercase;
	font-weight: 700;
}


.typewrite{
  color: white;
}

/* Mini description section  */
.mini-description{
  position: relative;
  height: 100%;
  min-height: 50vh;
  display: flex;
}

.desc-inner{
  font-size: xx-large;
  width: 95%;
  min-height: 45vh;
  height: 100%;
  margin: auto;
  border-color: #1C548D;
  border-style: double;
  border-width: thick;
  border-radius: 8px;
  text-align: center;
  display: flex;
}
.desc-inner>i{
  width:90%;
  margin: auto;
}

/* Features section */

.features{
  height: 100%;
  position: relative;
  background-color: #626175;
    /* background-image: url("./trianglify-lowres.png");
    background-size: cover; */
  
  /* margin-top: -110vh; */
}
.feature-header{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: xx-large;
  color: #fff;
  text-align: center;
}

/* decription section */

.description{
  position: relative;
  min-height:100vh;
  /* margin-top: -200vh; */
  /* background-image: url("./trianglify-lowres (1).png"); */
  /* opacity: 0.95; */
  /* background-size: cover; */

}

.description-header{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: xx-large;
  color: #fff;
  text-align: center;
}

p small {
  font-size: 16px;
}


.card {
  background: white;
  width: 100%;
  margin: 30px 5px;
  padding: 20px 0px;
  border-radius: 0px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.2);
  height: 70vh;
  min-height: 400px;
  transition: transform .2s;
}
.card .oval {
  background: linear-gradient(to right, #f1f6fd, #f0fbfe);
  padding: 10px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 20px;
}
.card .card-img-top {
  max-width: 0.8in;
  margin: 0 auto;
  transform: rotate(-20deg);
}
.card h3 {
  font-family: 'Roboto';
  font-size: 24px;
  color: #1d3ede;
}
.card p {
  font-size: 16px;
  margin: 10px;
}

.features .card:hover{
  background: #FB7420;
  transform: scale(1.1);
  color:white;
  cursor:pointer;
}
.features .card:hover h3{
  color:rgba(0,0,0, 0.4);
}

/* overlay */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 75px;
  background-color: #1C548D;
  opacity: 0.95;
  z-index: 10;
  margin: auto;
  margin-left: 15px;
  cursor: pointer;
}
.overlay-content
{
  color: white;
  margin: auto;
  width: 90%;
}
/* slider */

.slidecontainer{
  width:90%;
  margin:auto;
  min-height: 150px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/*contact us section*/

section.contact {
  margin-top: 100px;
  /* z-index:-3; */
  height: auto;
  overflow: hidden;
  padding: 50px 0;
  position: relative;
}

section.contact .blue {
  bottom: 116px;
  height: 390px;
  position: absolute;
  width: 100%;
}

section.contact .blue img,
section.contact .white img {
  width: 100%;
}

section.contact .white {
  bottom: 88px;
  height: 335px;
  position: absolute;
  width: 100%;
}

section.contact .contact-text {
  margin-top: 100px;
}

section.contact .contact-text h2 {
  color: #8197a3;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
}

section.contact .contact-text h2::before {
  background: #455a64 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0px;
  position: absolute;
  width: 75px;
}

section.contact .contact-text p {
  color: #92a5af;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}

section.contact .contact-form {
  background: #fff none repeat scroll 0 0;
  /* margin-left: 135px; */
  margin-top: 50px;
  padding: 40px 35px 35px;
  box-shadow: -9px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

section.contact .contact-form .first {
  margin-right: 10%;
  float: left;
}

section.contact .contact-form .last {
  float: right;
}

section.contact .contact-form .first,
section.contact .contact-form .last {
  padding-top: 8px;
  width: 45%;
}


section.contact .contact-form input[type="text"] {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #404548;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
  width: 100%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-border-bottom-colors: none;
  -webkit-border-left-colors: none;
  -webkit-border-right-colors: none;
  -webkit-border-top-colors: none;
  -o-border-bottom-colors: none;
  -o-border-left-colors: none;
  -o-border-right-colors: none;
  -o-border-top-colors: none;
}

section.contact .contact-form input[type="email"] {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #404548;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 47px;
  padding-bottom: 5px;
  width: 100%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-border-bottom-colors: none;
  -webkit-border-left-colors: none;
  -webkit-border-right-colors: none;
  -webkit-border-top-colors: none;
  -o-border-bottom-colors: none;
  -o-border-left-colors: none;
  -o-border-right-colors: none;
  -o-border-top-colors: none;
}

section.contact .contact-form .message textarea {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #cfd8dc;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #404548;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 145px;
  padding-bottom: 5px;
  padding-top: 46px;
  width: 100%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-border-bottom-colors: none;
  -webkit-border-left-colors: none;
  -webkit-border-right-colors: none;
  -webkit-border-top-colors: none;
  -o-border-bottom-colors: none;
  -o-border-left-colors: none;
  -o-border-right-colors: none;
  -o-border-top-colors: none;
}

section.contact .contact-form .submit {
  float: right;
  padding-top: 25px;
}

section.contact .contact-form input[type="submit"] {
  background: #FB7420 none repeat scroll 0 0;
  border: medium none;
  border-radius: 25px / 30px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 65px;
}

section.contact .contact-form .checkbox-submit {
  padding-bottom: 70px;
}

/*footer*/

footer.footer {
  background: linear-gradient(45deg, #1C548D, rgb(58,118,191), rgb(66,132,204), rgb(99,158,224), rgb(148,191,239));
  background-size: 100% 100%;
  min-height: 400px;
  margin-top: 100px;
  padding-top: 110px;
}

footer.footer .footer-icon h2 {
  color: #fff;
  font-family: "Croissant One", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
}

footer.footer .footer-icon h2::before {
  background: #fff none repeat scroll 0 0;
  bottom: -17px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 310px;
}

footer.footer .footer-icon h5 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 35px;
}

footer.footer .footer-icon i {
  color: #fff;
  font-size: 25px;
  padding: 0 44px 0 0;
}

footer.footer .footer-text .footer-text-single h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

footer.footer .footer-text .footer-text-single p a {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  
}